lib-cov
*.seed
*.log
*.csv
*.dat
*.out
*.pid
*.gz
*.swp

pids
logs
results
tmp

# VS code files
# .vscode/*

# API keys and secrets
.env

# Dependency directory
node_modules

# instanbul nyc files
.nyc_output

# Editors
.idea
*.iml

# OS metadata
.DS_Store
Thumbs.db

# Ignore built ts files
dist/**/*

# Local dummy files
dummy/**/*

# coverage files
coverage/**/*

# public files
# src/public/**/*
